.custom_title{
    text-align: left !important;
    width: 100%;
    padding: .6rem .5rem;
    background: $color_2;
    h6{
        font-size: 1.6rem;
        color: #fff;
        font-weight: 500;
    }
}

// Mujib year class here style

.mujub_year{
    
    h4{
        font-size: 2rem;
        text-decoration: underline;
        margin: 1rem 0;
        margin-left: 1rem;
    }
}





