

body{
    background: url(../img/bg_main.gif) repeat-y scroll center top rgba(0, 0, 0, 0);
}


.main_body{
    width: 1020px;
    height: fit-content;
    background-color: #ffff;
    padding: 0 2rem;
    margin: auto;
}

.container{
    display: flex;
    gap: 1.5rem;
}

.right_content{
    width: 75%;
    height: fit-content;
}

.left_content{
    padding: .7rem .5rem;
    width: 25%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 2rem;

}

@media  screen and (max-width: 1020px){
    body{
        background: none;
    }
    .main_body {
        width: 100%;
    }

    .container{
        flex-direction: column;
    }

    .right_content{
        width: 100%;
    }

    .left_content{
        padding: 0 !important;
        width: 100%;
        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media  screen and (max-width: 600px) {
    .main_body{
        padding: 0 !important;
    }
    .container{
        padding: 0 1rem;
    }
}